body {
    position: relative;
    padding-top: 4em;
}

#logo_img {
    height: 3em;
    position: relative;
}

#site_wrapper {
    width: 80%;
    margin: 0 auto 0 auto;
}

.thumbnail-content {
    background-color: #ECF0F1;
}

.thumbnail-img {
    text-align: center;
}

.thumbnail-content small {
    color: #8698aa;
}

.logo_link {
    position: relative;
    top: -1em;
}

.item img {
    height: 30em !important;
    margin: 0 auto 0 auto;
}

.carousel-slide-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(94, 94, 94, 0.5);
    font-size: 1.2em;
    color: #FFFFFF;
    padding: 0.5em 0em 0.5em 2em;
    z-index: 2;
}

.carousel-slide-title a,
.carousel-slide-title a:link
.carousel-slide-title a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.carousel-slide-title a:hover,
.carousel-slide-title a:active {
    text-decoration: underline;
}

div.nav-target:before {
    content:'';
    display:block;
    height:3em;
    margin:-3em 0 0;
}

ul.thumbnail-group {
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
    border-radius: 1em;
}

ul.thumbnail-group li {
    float: left;
    margin: 1em 1em 1em 1em;
    list-style-type: none;
}

ul.thumbnail-group li img {
    height: 10em;
}
