#jumbotron-container {
    margin-top: 20px;
}

.page-section {
    min-height: 800px;
}

.thumbnail-content {
    background-color: #ECF0F1;
}

.thumbnail-img {
    text-align: center;
}

.thumbnail-content small {
    color: #8698aa;
}

.logo_link {
    position: relative;
}

.container #about,
.container #projects{
    padding-top: 70px;
}

#projects {
    margin-bottom: 70px;
}

#footer {
    margin-bottom: 70px;
}

.footer-right {
    text-align: right;
}
