
#logo_img {
    height: 3em;
    position: relative;
}

#site_wrapper {
    padding-top: 4em;
    width: 80%;
    margin: 0 auto 0 auto;
}

.thumbnail-content {
    background-color: #ECF0F1;
}

.thumbnail-img {
    text-align: center;
}

.thumbnail-content small {
    color: #8698aa;
}

.logo_link {
    position: relative;
    top: -1em;
}

/* Keeps images centred in the carousel at a fixed height */
.item img {
    height: 30em !important;
    margin: 0 auto 0 auto;
}